<h1>Witaj <%=@user.name %></h1>
<h2> Dziękujemy za wybór restauracji Chłodna 15 by Wilamowski.</h2>
<h3> W najbliższym czasie skontaktujemy się z Państwem w celu potwierdzenia rezerwacji.</h3>
<h3>Pozdrawiamy,</h3>
<h3>Zespół restauracji Chłodna 15 by Wilamowski.</h3>



<p>
  <strong> <%=  @user.email %> </strong>: <%= @reservation.status %>
</p>




https://www.facebook.com/Ch%C5%82odna-15-345229529234105/